:host {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e1dd;
  background-color: #e0e1dd;
  border-radius: 4px;
  margin-top: 10px;
  padding: 20px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
}

.settings-container span {
  cursor: pointer;
}

.settings-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.settings-header span {
  color: #023e8a;
}

.separation-line {
  margin-top: 12px;
  margin-bottom: 12px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.vertical-separation-line {
  margin-left: 12px;
  margin-right: 12px;
  border-right: 3px solid rgba(0, 0, 0, 0.2);
}

.expanded-settings {
  display: flex;
  gap: 20px;
}
