@if(currentQuestion$ | async; as mcQuestion) {
  <div class="question-and-answers-container">
    @if(mcQuestion) {
      <b>Question:
        {{ ((currentQuestionIndex$ | async) ?? 0) + 1 }}
        /
        {{ ((currentQuizLength$ | async) ?? 0)}}
      </b>
      <p>
        {{mcQuestion.question}}
      </p>
      <div class="answers-container">
      @for(possibleAnswer of mcQuestion.possibleAnswers; track $index) {
          <div
            class="possibleAnswer"
            [class.selected] = "(currentSelection$ | async) === $index"
            [class.correct] = "(isAnswered$ | async) && mcQuestion.correctAnswerIndex == $index"
            [class.false] = "
          (isAnswered$ | async) &&
          (currentSelection$ | async) == $index &&
          (currentSelection$ | async) !== mcQuestion.correctAnswerIndex"
            (click)="quizFacade.selectAnswer($index)">
            {{possibleAnswer}}
          </div>
      }
      </div>
    }
  </div>

  <div class="submit-navigation-container">
    <button
      class="submit-button"
      [disabled]="(currentSelection$ | async) === null || (isAnswered$ | async)"
      (click)="quizFacade.submitAnswer()"
    >
      Submit
    </button>
    <div class="navigation-container">
      <button class="navigation-btn" (click)="quizFacade.stepIntoPreviousQuestion()">Previous</button>
      <button class="navigation-btn" (click)="quizFacade.stepIntoNextQuestion()">Next</button>
    </div>
  </div>

  @if(isAnswered$ | async) {
    <div class="explanation-container">
      @if ((currentSelection$ | async) == mcQuestion.correctAnswerIndex) {
        <span class="material-icons" style="color: #38b000; font-size: 48px">
        check_circle
      </span>
      } @else {
        <span class="material-icons" style="color: #d00000; font-size: 48px; padding: 8px">
        announcement
      </span>
      }
      {{mcQuestion.explanation}}
    </div>
  }
}
